name: 'PR Title is Conventional'
on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
    branches:
      - develop

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v3.4.0
        with: 
          scopes: |
            llc
            persistence
            core
            ui
            repo
            localization
          requireScope: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}