name: 'PR is Conventional and Semantic'
on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
    branches:
      - develop

jobs:
  conventional_pr_title:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v3.4.0
        with: 
          scopes: |
            llc
            persistence
            core
            ui
            doc
            repo
            localization
          requireScope: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  semantic_changelog_update:
    needs: conventional_pr_title # Trigger after the [conventional_pr_title] completes
    runs-on: ubuntu-latest
    steps:
      - uses: GetStream/verify-semantic-changelog-update@main
        with:
          scopes: |
            {
              "llc": "packages/stream_chat",
              "ui": "packages/stream_chat_flutter",
              "core": "packages/stream_chat_flutter_core",
              "localization": "packages/stream_chat_localizations",
              "persistence": "packages/stream_chat_persistence"
            }
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
