name: 'PR Title is Conventional'
on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
    branch:
      - develop
      - master

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v2.1.0
        with: 
          scopes: |
            llc
            persistence
            core
            ui
          requireScope: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}