name: Stale Issue Checker
permissions:
  issues: write

on:
  schedule:
    #       ┌───────────── minute (0 - 59)
    #       │ ┌───────────── hour (0 - 23)
    #       │ │ ┌───────────── day of the month (1 - 31)
    #       │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #       │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #       │ │ │ │ │
    #       │ │ │ │ │
    #       │ │ │ │ │
    #       * * * * *
    - cron: "0 0 * * *" # Runs once daily at 00:00 UTC

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Close stale issues
        uses: actions/stale@v9
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-label: "stale"
          any-of-issue-labels: "waiting for user response"
          labels-to-add-when-unstale: "user responded"
          labels-to-remove-when-stale: "user responded"
          labels-to-remove-when-unstale: "waiting for user response"
          # Ping the author if the last comment was by someone other than a team member or bot after 7 days has passed.
          days-before-issue-stale: 7
          stale-issue-message: "Hey, you can help us out by closing this issue if the problem no longer exists, or adding more information."
          # Close issues that are marked a 'waiting for customer response' label and were last interacted with by a contributor or bot, after 3 days has passed.
          days-before-issue-close: 3
          close-issue-message: "This issue has been closed automatically because it needs more information and has not had recent activity. If the issue still persists, please reopen with the information requested. Thanks."
